@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
}

body {
    background-color: #231b2e;
}

header {
    background-color: #18131f;
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 0 0 1rem black;
}

header>.img-fiat {
    padding: 0%;
    margin: 8px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto
}

main>.container {
    display: flex;
    flex-direction: row;
    background-color: rgba(35, 27, 46);
    width: 700px;
    height: auto;
    min-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 40px;
    max-width: 100%;
    margin: 0;
    box-shadow: 0 0 1rem black;
}

main>.container>.banner {
    margin: 55px;

}

main>.container>.box-login {
    font-family: 'Roboto', sans-serif;
    
}

#container .box-login {
    width: 320px;
    height: 520px;
    border-radius: 10px;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .box-login .box {
        width: 80%;
        height: 320px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    p {
        cursor: pointer;
        font-weight: 600;
        color: slateblue;
    }

    h1 {
        font-size: 1.8em;
        color: #fff;
        padding: 0px 0px 35px 15px;
    }

    h2 {
        font-family: "Roboto";
        font-size: 3.4em;
        color: #fff;
        width: 400px;
        padding: 15px 0px 35px 15px;
    }

    input {
        border-radius: 20px;
        border: none;
        padding: 2%;
        width: 20rem;
        background-color: #fff;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
    }

::-webkit-input-placeholder {
    color: #0000005d;
    font-family: "Roboto", monospace;
  }
  
    button {
        cursor: pointer;
        width: 250px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background: red;
    }