<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/login.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i,700i" rel="stylesheet">
</head>
<body>
    <header>
        <div class="img-fiat" >
            <a href="./pagina-inicial.html">
            <img src="../../public//img/logo_header_hub_fiat.svg">
        </a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="banner">
                <img src="../../public/img/logo_header_hub_fiat.svg" alt="imagem-login" width="200px">
            </div>
            <br>
            
            <div class="box-login">
                <h2>Login</h2>
                <div class="box">
                    <input type="text" name="username" id="username" placeholder="username">
                    <input type="password" name="password" id="password" placeholder="password">
                    
                    <button>Login</button>
                </div>
            </div>
    
        </div>
        
    </main>
</body>
</html>