<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/pagina-inicial.css">
</head>
<body>
    <header>
    <div class="img-fiat" >
        <a href="">
        <img src="../../public//img/logo_header_hub_fiat.svg">
        </a>
    </div>
    <div class="img-login">
        <a href="../page/login.html">
        <img src="../../public/img/user.png" alt="">
        </a>
    </div>
    <div class="login">
        <a href="../page/login.html">
            <h2>Faça o seu login</h2>
        </a>
    </div>
    </header>
    <main>  
        
        <div class="container">

            <ul class="slider">
                <li>
                    <label for="slide1"></label>
                    <input type="radio" id="slide1" name="slide" checked>
                    <img src="../../public/img/banner-girofiatv2-desk@2x.jpeg" alt="">
                </li>            
                <li>
                    <label for="slide2"></label>
                    <input type="radio" id="slide2" name="slide" checked>
                    <img src="../../public/img/banner_home_fiatscudo_desk.png" alt="">
                </li>
                <li>
                    <label for="slide3"></label>
                    <input type="radio" id="slide3" name="slide" checked>
                    <img src="../../public/img/novo-banner_home_strada_desktop@2x.jpeg" alt="">
                </li>
            </ul>
        </div>     
    </main>
<footer>
    
</footer>
</body>
</html>