<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/pagina-inicial.css">
</head>
<body>
    <header>
    <div class="img-fiat" >
        <a href="">
        <img src="../../public//img/logo_header_hub_fiat.svg">
        </a>
    </div>
    <div class="imagem-login">
        <a href="">
            <img src="../../public/img/user.png" alt="">
            <h2>Login</h2>           
        </a>
    </div>
    </header>
    <main>        
        <div class="slider">
            <div class="slides">
                <input type="radio1" name="radio-botao" id="radio1">
                <input type="radio2" name="radio-botao" id="radio2">
                <input type="radio3" name="radio-botao" id="radio3">
            

                <div class="slide first"> 
                    <img src="../../public/img/banner-girofiatv2-desk@2x.jpeg" style="width: 1200px;" >
                </div>

                <div class="slide"> 
                    <img src="../../public/img/banner_home_fiatscudo_desk.png" style="width: 1200px;">
                </div>
                
                <div class="slide"> 
                    <img src="../../public/img/novo-banner_home_strada_desktop@2x.jpeg" style="width: 1200px;">
                </div>

            </div>        

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>

            <div class="manuel-navigation">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
            


        </div>
    </main>
<footer>
    
</footer>
</body>
</html>