<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="../../public/style/pagina-inicial.css">
</head>
<body>
    <header>
    <div class="img-fiat" >
        <a href="">
        <img src="../../public//img/logo_header_hub_fiat.svg">
        </a>
    </div>
    </header>
    <main>        
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-botao" id="radio1">
                <input type="radio" name="radio-botao" id="radio2">
                <input type="radio" name="radio-botao" id="radio3">
            </div>

            <div class="slide 1"> 
                <img src="../../public/img/banner-girofiatv2-desk@2x.jpeg" >
            </div>

            <div class="slide"> 
                <img src="../../public/img/banner_home_fiatscudo_desk.png">
            </div>
        
            <div class="slide"> 
                <img src="../../public/img/novo-banner_home_strada_desktop@2x.jpeg">
           </div>

      </div>

    <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
  </div>
    
    </main>
<footer>
    
</footer>
</body>
</html>